{:address      {:db/doc             nil
                :db/ident           :address
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "address"
                :attribute/required (:address/updated-at
                                     :address/created-at
                                     :address/company-id
                                     :address/zip
                                     :address/country-id
                                     :address/state-id
                                     :address/city-id
                                     :address/line1
                                     :address/id)
                :attribute/optional (:address/line2)}
 :invoice-item {:db/doc             nil
                :db/ident           :invoice-item
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "invoice_item"
                :attribute/required (:invoice-item/updated-at
                                     :invoice-item/created-at
                                     :invoice-item/quantity
                                     :invoice-item/name
                                     :invoice-item/company-id
                                     :invoice-item/item-id
                                     :invoice-item/invoice-id
                                     :invoice-item/id)
                :attribute/optional (:invoice-item/discount-type
                                     :invoice-item/discount-value)}
 :payment      {:db/doc             nil
                :db/ident           :payment
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "payment"
                :attribute/required (:payment/updated-at
                                     :payment/created-at
                                     :payment/currency-id
                                     :payment/amount
                                     :payment/mode
                                     :payment/invoice-id
                                     :payment/company-id
                                     :payment/customer-id
                                     :payment/id)
                :attribute/optional (:payment/notes)}
 :item         {:db/doc             nil
                :db/ident           :item
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "item"
                :attribute/required (:item/updated-at
                                     :item/created-at
                                     :item/company-id
                                     :item/price
                                     :item/name
                                     :item/id)
                :attribute/optional (:item/description)}
 :city         {:db/doc             nil
                :db/ident           :city
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "city"
                :attribute/required (:city/state-id :city/name :city/id)}
 :state        {:db/doc             nil
                :db/ident           :state
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "state"
                :attribute/required (:state/country-id :state/name :state/id)}
 :tax          {:db/doc             nil
                :db/ident           :tax
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "tax"
                :attribute/required (:tax/updated-at
                                     :tax/created-at
                                     :tax/company-id
                                     :tax/percentage
                                     :tax/name
                                     :tax/id)
                :attribute/optional (:tax/description)}
 :customer     {:db/doc             nil
                :db/ident           :customer
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "customer"
                :attribute/required (:customer/updated-at
                                     :customer/created-at
                                     :customer/shipping-address-id
                                     :customer/billing-address-id
                                     :customer/primary-currency-id
                                     :customer/primary-contact
                                     :customer/email
                                     :customer/company-id
                                     :customer/name
                                     :customer/id)}
 :invoice      {:db/doc             nil
                :db/ident           :invoice
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "invoice"
                :attribute/required (:invoice/updated-at
                                     :invoice/created-at
                                     :invoice/status
                                     :invoice/customer-id
                                     :invoice/company-id
                                     :invoice/invoice-number
                                     :invoice/due-date
                                     :invoice/invoice-date
                                     :invoice/id)}
 :currency     {:db/doc             nil
                :db/ident           :currency
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "currency"
                :attribute/required (:currency/decimal-separator
                                     :currency/thousand-separator
                                     :currency/symbol
                                     :currency/code
                                     :currency/name
                                     :currency/id)}
 :customer-tag {:db/doc             nil
                :db/ident           :customer-tag
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "customer_tag"
                :attribute/required (:customer-tag/tag-id
                                     :customer-tag/customer-id
                                     :customer-tag/company-id)}
 :tag          {:db/doc             nil
                :db/ident           :tag
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "tag"
                :attribute/required (:tag/updated-at
                                     :tag/created-at
                                     :tag/company-id
                                     :tag/name
                                     :tag/id)}
 :invoice-tax  {:db/doc             nil
                :db/ident           :invoice-tax
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "invoice_tax"
                :attribute/required (:invoice-tax/company-id
                                     :invoice-tax/tax-id
                                     :invoice-tax/invoice-id)}
 :user         {:db/doc             nil
                :db/ident           :user
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "user"
                :attribute/required (:user/updated-at
                                     :user/created-at
                                     :user/company-id
                                     :user/is-active
                                     :user/password
                                     :user/email
                                     :user/last-name
                                     :user/first-name
                                     :user/id)}
 :country      {:db/doc             nil
                :db/ident           :country
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "country"
                :attribute/required (:country/name
                                     :country/code
                                     :country/id)}
 :company      {:db/doc             nil
                :db/ident           :company
                :db.entity/type     :table
                :db/schema          "public"
                :db/relation        "company"
                :attribute/required (:company/updated-at
                                     :company/created-at
                                     :company/name
                                     :company/id)
                :attribute/optional (:company/logo-url)}}
