{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Getting Started" {:file "doc/getting-started.md"}]
                   ["Attributes" {:file "doc/attributes.md"}]
                   ["Query Syntax" {:file "doc/query-syntax.md"}]
                   ["Sorting" {:file "doc/sorting.md"}]
                   ["Pagination" {:file "doc/pagination.md"}]
                   ["Filters" {:file "doc/filters.md"}]
                   ["Aggregate Queries" {:file "doc/aggregate-queries.md"}]
                   ["Configuration" {:file "doc/configuration.md"}]
                   ["Coercion" {:file "doc/coercion.md"}]
                   ["Metadata" {:file "doc/metadata.md"}]
                   ["Debugging & Troubleshooting" {:file "doc/debugging.md"}]]}